In [1]:
%load_ext sql

In [80]:
%sql ibm_db_sa://cpd04249:7BHPqsbYQUw9pkFs@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb?security=SSL

In [3]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA = 'CPD04249'

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('CPD04249', 'CENSUS_DATA', datetime.datetime(2023, 1, 1, 5, 22, 17, 838223)),
 ('CPD04249', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2023, 1, 1, 5, 23, 17, 917781)),
 ('CPD04249', 'CHICAGO_CRIME_DATA', datetime.datetime(2023, 1, 1, 5, 24, 1, 825725)),
 ('CPD04249', 'PETSALE', datetime.datetime(2022, 12, 31, 12, 22, 26, 751643)),
 ('CPD04249', 'PET', datetime.datetime(2022, 12, 31, 12, 22, 26, 850260)),
 ('CPD04249', 'INSTRUCTOR', datetime.datetime(2022, 12, 31, 15, 58, 9, 731544)),
 ('CPD04249', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2022, 12, 31, 17, 48, 32, 157618))]

In [4]:
%sql select * from CHICAGO_CRIME_DATA limit 3;

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.date(2004, 6, 26), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.date(2011, 4, 4), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)')]

In [5]:
%sql select * from CENSUS_DATA limit 3;

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39),
 (2, 'West Ridge', Decimal('7.8'), Decimal('17.2'), Decimal('8.8'), Decimal('20.8'), Decimal('38.5'), 23040, 46),
 (3, 'Uptown', Decimal('3.8'), Decimal('24.0'), Decimal('8.9'), Decimal('11.8'), Decimal('22.2'), 35787, 20)]

In [28]:
%sql select * from CHICAGO_PUBLIC_SCHOOLS limit 3;

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', Decimal('2.3'), '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)')]

In [7]:
#Problem 1: Find the total number of crimes recorded in the CRIME table.

%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(533,)]

In [8]:
#Problem 2: List community areas with per capita income less than 11000.
%sql select community_area_name from CENSUS_DATA where per_capita_income < 11000

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [9]:
#Problem 3: List all case numbers for crimes involving minors?
%sql select case_number from CHICAGO_CRIME_DATA where description like '%MINOR%';

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('HL266884',), ('HK238408',)]

In [99]:
# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
%sql select * from CHICAGO_CRIME_DATA where primary_type='KIDNAPPING' and description like '%CHILD%';

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
   sqlite:///RealWorldData.db
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [11]:
# Problem 5: What kind of crimes were recorded at schools?
%sql select distinct(primary_type) from CHICAGO_CRIME_DATA where location_description like '%SCHOOL%';

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

In [53]:
#Problem 6: List the average safety score for all types of schools.
%sql select 'Elementary, Middle, or High School' from CHICAGO_PUBLIC_SCHOOLS limit 5

   ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
 * sqlite:///RealWorldData.db
Done.

[('Elementary, Middle, or High School',),
 ('Elementary, Middle, or High School',),
 ('Elementary, Middle, or High School',),
 ('Elementary, Middle, or High School',),
 ('Elementary, Middle, or High School',)]

In [40]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False,method="multi")
%sql sqlite:///RealWorldData.db

C:\Users\taori\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [59]:
result = df.groupby(['Elementary, Middle, or High School']).mean('safety_score')
result['SAFETY_SCORE']

Elementary, Middle, or High School
ES    49.520384
HS    49.623529
MS    48.000000
Name: SAFETY_SCORE, dtype: float64

In [64]:
#Problem 7: List 5 community areas with highest % of households below poverty line
%sql select community_area_name from CENSUS_DATA\
order by percent_households_below_poverty desc limit 5;

   ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
 * sqlite:///RealWorldData.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [83]:
#Problem 8: Which community area is most crime prone?
%sql SELECT community_area_number,COUNT(community_area_number) as FREQUENCY FROM CHICAGO_CRIME_DATA\
GROUP BY community_area_number\
ORDER BY COUNT(community_area_number) DESC\
LIMIT 1;

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
   sqlite:///RealWorldData.db
Done.

[(25, 43)]

In [90]:
#Problem 9: Use a sub-query to find the name of the community area with highest hardship index
%sql SELECT community_area_name FROM  CENSUS_DATA WHERE hardship_index = (SELECT MAX(hardship_index) FROM CENSUS_DATA);

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
   sqlite:///RealWorldData.db
Done.

[('Riverdale',)]

In [96]:
# Problem 10 Use a sub-query to determine the Community Area Name with most number of crimes? 
%sql SELECT community_area_name FROM CENSUS_DATA\
WHERE community_area_number = (SELECT community_area_number FROM CHICAGO_CRIME_DATA GROUP BY community_area_number\
ORDER BY COUNT(community_area_number) DESC\
LIMIT 1)\
LIMIT 1;

 * ibm_db_sa://cpd04249:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
   sqlite:///RealWorldData.db
Done.

[('Austin',)]